$blue-primary: #3b82f6;
$purple-primary: #8b5cf6;

[theme-data='light'] {
    --primary-color: #{$blue-primary};
    --secondary-color: #{$purple-primary};
}

[theme-data='dark'] {
    --primary-color: #{$purple-primary};
}
